body {
    background-color: rgb(235, 235, 235);
    color: rgb(17, 16, 16);
}

.principal {
   background-image: url("backgroun.png");
   height: 100 vh;
   align-items: center;
   text-align: center;
   display: grid;
   grid-template-columns: 50% 50%;
   margin: 0 6em;
}

.p2 {
    align-items: center;
    text-align: center;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0 6em; 
}

.p3 {
    align-items: center;
    text-align: center;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0 6em;
 }
  
 .p4 {
    align-items: center;
    text-align: center;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0 6em; 
 }

 .botão1 {
    display: block;
    background: blue;
    color: white; 
    padding: 20px;
    margin: 20px;
 }